.aboutSection {
  color: white;
}
.AboutImg {
  width: 300px;
  margin-left: 30px;
}
.AboutText {
  width: 400px;
  color: rgb(240, 239, 239);
  font-size: 1.1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
