.ProjectPage {
  /* height: 80vh; */
}
.project {
  width: 350px;
  height: 520px;
  background-color: rgb(31, 31, 30);
  box-shadow: 0px 1px 2px rgba(8, 6, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 4px 8px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(8, 4, 0, 0.5);
  border-radius: 15px;
  border: 2px solid rgba(0, 0, 0, 0.977);
  font-size: 1.1rem;
}
.Myprojects {
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}
.projectImg {
  width: 100%;
  height: 270px;
  border-radius: 15px;
}
.writtenText {
  padding-left: 10px;
  padding-right: 10px;
}
.linktoProject {
  width: 100%;
}
.main-gradient1 {
  background-image: linear-gradient(
    500deg,
    #a64941,
    #ce996e 47.71%,
    #ff9328 0,
    #6f71b6d8,
    #3b94a5,
    #dc4f1c
  );
  position: absolute;
  height: 200px;
  width: 200px;
  border-radius: 9999px;
  filter: blur(150px);
  -webkit-filter: blur(150px);
}

@media screen and (max-width: 850px) {
  .Myprojects {
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
  }
  .Projectname {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: 450px) {
  .project {
    width: 320px;
    height: 460px;
    font-size: 1rem;
  }
  .projectImg {
    width: 100%;
    height: 230px;
    border-radius: 15px;
  }
  .Hr {
    margin-left: 55px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .Heading {
    margin-top: -10px;
  }
  .Projectname {
    margin-bottom: 50px;
  }
  .main-gradient1 {
    height: 120px;
    width: 120px;
    filter: blur(150px);
    -webkit-filter: blur(150px);
  }
}

.swiper {
  width: 350px;
  height: 520px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  color: #fff;
}
