.SkillsPage {
  color: white;
}
.skillContainer {
  position: relative;
  z-index: 999;
}
.SkillIcons {
  height: 100px;
  width: 100px;
  background: rgb(49, 50, 54);
  background: linear-gradient(
    180deg,
    rgba(9, 9, 9, 0.443) 0%,
    rgba(192, 78, 17, 0.21) 100%
  );
  padding: 10px;
  box-shadow: 0px 1px 2px rgba(8, 6, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 4px 8px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(8, 4, 0, 0.5);
  z-index: 2;
  align-items: center;
  font-family: monospace;
  font-size: 16px;
  font-weight: lighter;
  border-radius: 10px;
}
.Icon {
  width: 50px;
  margin-bottom: 5px;
}

@media screen and (max-width: 720px) {
  .SkillIcons {
    height: 78px;
    width: 78px;
    font-size: 0.7rem;
  }
  .Icon {
    width: 30px;
    margin-bottom: 5px;
  }
  .Line2 {
    justify-content: space-around;
    gap: 0px;
  }
  .SkillHeading {
    /* margin-bottom: 80px; */
  }
}

@media screen and (max-width: 480px) {
  .Line1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100vw;
    place-items: center;
    margin-top: -10px;
  }
  .Line2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100vw;
    place-items: center;
    margin-top: 20px;
  }
  .MidLine-1a {
    margin-left: 120%;
  }
  .MidLine-1b {
    margin-left: 120%;
  }
  .Line3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100vw;
    place-items: center;
    margin-top: -20px;
  }
}
