@keyframes slide-down {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scale-zoom {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotate(300deg);
  }
  75% {
    transform: rotate(-20deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
@keyframes Text-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


