.Hero {
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.gradientText {
  background: -webkit-linear-gradient(
    -220deg,
    #816524c7,
    #e36600 19%,
    #a8642c 29%,
    rgba(25, 231, 231, 0.854) 59.58%,
    #ac8608 82.07%,
    #e36600 95.62%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Desc {
  width: 500px;
  margin-left: 30px;
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.Name {
  color: rgb(201, 195, 195);
  margin-top: 20px;
  margin-bottom: 10px;
}
.para {
  color: rgb(201, 195, 195);
  margin-top: 25px;
}
.myImage {
  margin-top: 85px;
  margin-right: 30px;
  width: 190px;
  border-radius: 30px;
  filter: saturate(120%);
  box-shadow: 0px 1px 2px rgba(8, 6, 0, 0.5), 0px 2px 4px rgba(0, 0, 0, 0.5),
    0px 4px 8px rgba(0, 0, 0, 0.5), 0px 8px 16px rgba(8, 4, 0, 0.5);
  border: 2px solid rgba(0, 0, 0, 0.281);
}
.buttons {
  display: flex;
  margin-left: 30px;
  text-align: center;
  gap: 10px;
  margin-top: 50px;
  font-weight: bold;
  cursor: pointer;
}
.Resume {
  width: 200px;
  height: 50px;
  background-color: white;
  padding-top: 12px;
  border-radius: 12px;
  color: #ff5d06;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.744);
  transition: 0.4s;
}
.HireMe {
  width: 200px;
  height: 50px;
  border: 2px solid white;
  padding-top: 12px;
  border-radius: 12px;
  color: white;
  box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.744);
  transition: 0.4s;
}
.HireMe:hover {
  box-shadow: 0px 4px 12px rgba(108, 3, 3, 0.744);
}
.Resume:hover {
  box-shadow: 0px 4px 12px rgba(108, 3, 3, 0.744);
}
.Arrow {
  height: 80px;
  margin-top: -20px;
  margin-left: 20px;
}
.Socials {
  width: 410px;
}
.SocialIcons:hover {
  transform: scale(0.9);
}
.SocialIcons {
  transition: 0.4s;
  background-color: #1a2e35;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 1px 2px rgba(8, 6, 0, 0.409), 0px 2px 4px rgba(0, 0, 0, 0.395),
    0px 4px 8px rgba(0, 0, 0, 0.258), 0px 8px 16px rgba(8, 4, 0, 0.422);
  cursor: pointer;
}
@media screen and (max-width: 720px) {
  .myImage {
    margin-top: 120px;
    margin-left: -20px;
    width: 250px;
    border-radius: 20px;
  }
  .Arrow {
    height: 70px;
    margin-top: -90px;
    margin-left: -70px;
  }
  .main-gradient {
    height: 240px;
    width: 240px;
    filter: blur(130px);
    -webkit-filter: blur(130px);
  }
}

@media screen and (max-width: 480px) {
  .Hero {
    margin-top: -40px;
  }
  .helloText {
    font-size: 0.9rem;
    margin-bottom: -10px;
  }
  .Name {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .frontendDev {
    font-size: 2.1rem;
    font-weight: 600;
  }
  .para {
    font-size: 0.7rem;
  }
  .Resume {
    width: 120px;
    height: 45px;
    font-size: 0.9rem;
  }
  .HireMe {
    width: 120px;
    height: 45px;
    font-size: 0.9rem;
  }
  .Arrow {
    height: 50px;
    margin-top: -50px;
    margin-left: -20px;
  }
  .Socials {
    width: 310px;
  }
  .SocialIcons {
    height: 50px;
    width: 50px;
    padding: 10px;
  }
  .main-gradient {
    height: 210px;
    width: 210px;
    filter: blur(130px);
    -webkit-filter: blur(130px);
  }
}
